<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 1-1. Console Appender -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<param name="ImmediateFlush" value="true" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	
	<!-- 1-2. COM.PLUOZONE.CORE File Appender -->
	<appender name="COM.PLUTOZONE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<param name="ImmediateFlush" value="true" />
		<param name="File" value="/home/openmalls/log/com.plutozone.openMalls.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
		</layout>
	</appender>	
	
	<!-- 2-1. This Application Loggers -->
	<logger name="com.plutozone">
		<level value="info" />
		<appender-ref ref="COM.PLUTOZONE" />
	</logger>	
	<!-- 2-2. Other 3rdparty Loggers -->
	<logger name="org.apache">
		<level value="warn" />
	</logger>
	<!-- [2015-12-23][pluto#plutozone.com][DELETE: Default]
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	-->
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	<logger name="org.mybatis">
		<level value="warn" />
	</logger>
	<logger name="java.sql">
		<level value="warn" />
	</logger>
	
	<!-- 3. Define Loggers -->
	<root>
		<!-- [2015-12-23][pluto#plutozone.com][REPORT: Define Logger Priority Level(all > trace > debug > info > warn > error > fatal > off)] -->
		<priority value="all" />
		<!-- <priority value="warn" /> -->
		
		<!-- 1-1. For CONSOLE Appender -->
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>